%tableformat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-light;
  .left-table {
    width: 59%;
  }
  .right-table {
    width: 40%;
  }
}

%ptable {
  background-color: #959595;
  color: #fff;
  font-size: 14px;
  height: 3.7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%liafter {
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: #939191 transparent transparent;
}

.about {
  .mainDescription {
    padding-inline-start: 1em !important;
    padding-inline-end: 1em !important;
  }
}

.about .mainContent {
  .yoshidaImage {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    margin-block-end: 2em;
    position: relative;
  }

  .tableContent {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
  }

  @media #{$mq-medium} {
    width: 75%;
    .yoshidaImage {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
    .tableContent {
      margin: 0;
      width: 100%;
    }
  }
  @media #{$mq-large} {
    width: 50%;
  }
}

.yoshidaImage {
  img {
    width: 100%;
  }

  .largeCircle {
    position: absolute;
    top: 6.7%;
    left: 15%;
    width: 21.5%;
    height: 42%;
    border-radius: 50%;
  }
  .smallCircle {
    position: absolute;
    top: 0.3%;
    left: 52.8%;
    width: 14.5%;
    height: 27.6%;
    border-radius: 50%;
  }

  a:hover {
    background-color: black;
    opacity: 0.5;
  }
}

.tableContent {
  .tableUpper {
    @extend %tableformat;
  }
  .tableOpen {
    text-align: center;
    text-transform: uppercase;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: $font-light;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .tableBelow {
    @extend %tableformat;
    ol {
      padding-block-start: 1em !important;
    }
  }
}

.tableUpper, .tableBelow {
  .left-table, .right-table {
    background: rgba(243,243,243,.9);

    p {
      @extend %ptable;

      @media #{$mq-medium} {
        height: auto;
        padding-block-start: 0.25em;
        padding-block-end: 0.4em;
      }
    }

    ol, ul {
      list-style-type: none;
      padding-block-start: 1.25em;
    }
    li {
      position: relative;
      font-size: 0.85em;
    }
  }

  .left-table {
    ol {
      counter-reset: my-counter;
    }

    li {
      padding-inline-start: 4em;
      margin-block-end: 1em;
      padding-inline-end: 0.5em;

      @media #{$mq-small} {
        padding-inline-start: 5em;
      }
    }

    li.act {
      margin-block-end: 2em;
      @media #{$mq-small} {
        margin-block-end: 3em;
      }
    }

    li.last::before {
      content: '7';
    }

    li.last {
      padding-inline-end: 0;
    }

    li:nth-child(1), li:nth-child(5) {
      line-height: 2.25em;
    }

    li:nth-child(6) {
      line-height: 3em;
    }

    li:nth-child(2)::before, li:nth-child(3)::before,
    li:nth-child(4)::before, li:nth-child(6)::before  {
      line-height: 2.25em;
    }

    // li:nth-child(2)::before, li:nth-child(3)::before,
    // li:nth-child(4)::before {
    //   top: 50%;
    //   transform: translateY(-50%);
    // }

    li::before {
      content: counter(my-counter);
      counter-increment: my-counter;
      background-color: #fff;
      width: 2.25em;
      height: 2.25em;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      left: 1em;
    }

    li.act::after {
      @extend %liafter;
      content: '';
      position: absolute;
      bottom: -1.25em;
      left: 50%;
      transform: translate(-50%);

      @media #{$mq-small} {
        bottom: -1.75em;
      }
    }
  }
  .right-table {
    li {
      text-align: center;
      margin-inline-start: 0.25em;
      margin-inline-end: 0.25em;
    }
    li.act {
      margin-block-end: 2em;
      @media #{$mq-small} {
        margin-block-end: 3em;
      }
    }
    li.act::after {
      @extend %liafter;
      content: '';
      position: absolute;
      bottom: -1.5em;
      left: 50%;
      transform: translate(-50%);
      @media #{$mq-small} {
        bottom: -2em;
      }
    }
    li.last {
      margin: 0;
    }
  }
}