#about {
  position: fixed !important;
}

.nav-bar {
  @extend #about;
}

.nav-icon {
  @extend #about;
}

.about-container {
  height: auto;
  width: calc(100% - 120px);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 120px;
  background-color: rgba(239,239,239,.3);

  p {
    font-family: $font-normal;
  }

  .header-logo {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 2;

    .left {
      width: 274px;
      height: 60px;
      float: left;
      z-index: 3;
      display: flex;
      justify-content: center;

      img {
        position: relative;
        width: 194px;
        height: 24px;
        top: 31px;
      }
    }

    .right {
      width: 210px;
      height: 60px;
      float: right;
      display: flex;
      justify-content: center;
      z-index: 3;

      img {
        position: relative;
        width: 112px;
        height: 13px;
        top: 36px;
      }
    }
  }
  .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    %width-range {
      width: 640px;
    }

    .title {
      height: 96px;
      width: 50%;
      @extend %width-range;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .upper-content {
      height: auto;
      width: 50%;
      position: relative;
      margin-bottom: 50px;
      @extend %width-range;
    }

    .below-content {
      height: auto;
      width: 50%;
      @extend %width-range;
    }

    p#open {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.1px;
      font-weight: bold;
    }

    .below-open {
      height: auto;
      width: 50%;
      @extend %width-range;
    }
  }
  .footer {
    .img-footer {
      width: 100%;
      margin-top: 10px;
    }

    .description-footer {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.title {
  p {
    font-size: 20px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    line-height: 48px;
    font-weight: bold;
  }

  p::after {
    display: block;
    content: '';
    height: 2px;
    width: 40%;
    background-color: black;
    transform: translate(75%,8px);
  }
}

.upper-content {
  p {
    word-break: break-all;
    font-size: 16px;
    letter-spacing: 1.8px;
    line-height: 29px;
    height: auto;
  }

  .img-click {
    position: relative;
    width: 100%;
    height: 100%;
       
    img {
      width: 100%;
      object-fit: cover;
    }
  
  
    a#first {
      position: absolute;
      top: 7.3%;
      left: 15%;
      width: 21.5%;
      height: 42%;
      display: block;
      border-radius: 50%;
    }
  
    a#second {
      position: absolute;
      top: 0%;
      left: 53%;
      width: 14.4%;
      height: 28.6%;
      display: block;
      border-radius: 50%;
    }
  
    a:hover {
      background-color: black;
      opacity: 0.5;
    }
  }
  
}

%tableformat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-light;
  .left-table {
    width: 59%;
  }
  .right-table {
    width: 40%;
  }
}

%liafter {
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: #939191 transparent transparent;
}

%ptable {
  background-color: #959595;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 0;
}

.below-content {
  @extend %tableformat;
}

.below-open {
  @extend %tableformat;
}

.left-table {
  p {
    @extend %ptable;
  }

  ol {
    list-style-type: none;
    counter-reset: my-counter;
    padding: 20px 0;
    background-color: rgba(243,243,243,.9);
  }

  li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    background-color: #fff;
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 23px;
  }

  li:nth-child(2)::before {
    top: 30%;
  }

  li:nth-child(3)::before {
    top: 30%;
  }

  li:nth-child(4)::before {
    top: 30%;
  }

  li {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 33px;
    padding-left: 80px;
  }

  li#act {
    margin-bottom: 30px;
  }

  li#act::after {
    @extend %liafter;
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
  }

  li#last::before {
    content: '7';
  }
}

.right-table {
  p {
    @extend %ptable;
  }

  ul {
    list-style-type: none;
    padding: 20px 0;
    background-color: rgba(243,243,243,.9);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    display: block;
    font-size: 14px;
    letter-spacing: 1.1px;
    line-height: 30px;
    position: relative;
  }

  li#act {
    margin-bottom: 30px;
  }

  li#act::after {
    //content: " ";
    @extend %liafter;
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 0;
    height: 0;
  }
}

.description-footer {
  p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    line-height: 22px;
    word-spacing: 10%;
  }
}

@media only screen and (max-width: 480px) {
  .about-container {
    width: 100%;
    left: 0;

    .header-logo {
      .left {
        width: 208px;
        img {
          width: 169px;
          left: 40px;
          top: 29px;
        }
      }
      .right {
        width: 112px;

        img {
          width: 78px;
          height: 9px;
          left: 12px;
        }
      }
    }
    .content {
      .title {
        width: 100%;
      }
      .upper-content {
        width: 100%;
      }
      .below-content {
        width: 90%;
        ol,ul {
          height: 590px;
        }
      }
      .below-open {
        width: 90%;
      }
    }
  }

  .upper-content {

    p {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px;
    }

    .img-click{
      img {
        margin-inline-start: 10px;
        width: 95%;
      }
    }
  }

  .left-table {
    p {
      height: 52px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    li::before {
      width: 30px;
      height: 30px;
    }
    li {
      padding-left: 60px;
      line-height: 30px;
      margin-right: 10px;
    }
    li#act {
      margin-bottom: 20px;
    }
    li#act::after {
      bottom: -15px;
    }
  }

  .right-table {
    li {
      line-height: 30px;
      margin-inline-start: 10px;
      margin-inline-end: 10px;
    }
  
    li#act {
      margin-bottom: 20px;
    }
  
    li#act::after {
      bottom: -15px;
      left: 50%;
    }

    li#last {
      font-size: 12px;
    }
  }

  .footer {
    .description-footer {
      p {
      word-break: break-all;
      text-align: left;
      margin-inline-start: 10px;
      margin-inline-end: 10px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .about-container {
    width: 100%;
    left: 0;

    .header-logo {
      .left {
        width: 208px;
        img {
          width: 169px;
          left: 40px;
          top: 29px;
        }
      }
      .right {
        width: 112px;

        img {
          width: 78px;
          height: 9px;
          left: 12px;
        }
      }
    }
    .content {
      .title {
        width: 100%;
      }
      .upper-content {
        width: 90%;
      }
      .below-content {
        width: 90%;
        ol,ul {
          height: 590px;
        }
      }
      .below-open {
        width: 90%;
      }
    }
  }
  .footer {
    .description-footer {
      p {
      word-break: break-all;
      text-align: left;
      margin-inline-start: 10px;
      margin-inline-end: 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-container {
    .header-logo {
      .left {
        width: 208px;
        img {
          width: 169px;
          left: 40px;
          top: 29px;
        }
      }
      .right {
        width: 112px;

        img {
          width: 78px;
          height: 9px;
          left: 12px;
        }
      }
    }
    .content {
      .title {
        width: 100%;
      }
      .upper-content {
        width: 90%;
      }
      .below-content {
        width: 90%;
        ol,ul {
          height: 550px;
        }
      }
      .below-open {
        width: 90%;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .content {
    .below-content {
      width: 90%;
      ol,ul {
        height: 550px;
      }
    }
  }
}
