.detail .mainContent {
  .img-description {
    margin-block-end: 2em;
    .square-bullet {
      width: 100%;
    }
    #dots {
      right: 5% !important;
      @media #{$mq-small} {
        right: 10% !important;
      }
      @media #{$mq-medium} {
        right: -10% !important;
      }
      @media #{$mq-large} {
        right: -30% !important;
      }
    }
  }
}

.content-below {
  margin-inline-start: 1em;
  margin-inline-end: 1.25em;
  @media #{$mq-small} {
    margin-inline-start: 2%;
    margin-inline-end: 2%;
  }
  @media #{$mq-medium} {
    width: 70%;
  }
  @media #{$mq-large} {
    width: 50%;
  }
  p,a {
    font-family: $font-normal;
  }

  .upper {
    margin-block-end: 4em;
    @media #{$mq-small} {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left {
        width: 25%;
      }
      .right {
        width: 75%;
      }
    }
  }

  .left {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-block-end: 1em;
  }
  .right {
    p {
      font-size: 0.85em;
    }
    p:nth-child(1) {
      margin-block-end: 1.5em;
    }
  }
  
  .below {
    text-align: center;
    margin-block-end: 2em;
    a {
      font-size: 1em;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      letter-spacing: 0.1em;
    }

    a:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;
    }

    .middle {
      padding: 1em;
    }
    .prev,.next {
      padding: 0.5em 1em;
    }
  }
}

