@import 'font';

.content.work {
  .upper-content {
    width: 70%;
    height: auto;
    margin-bottom: 0;

    img {
      width: 28%;
      object-fit: cover;
      margin: 10px;
      border-radius: 0.5%;
    }

    a::before {
      content: 'New Open';
      position: absolute;
      color: black;
      text-transform: uppercase;
      display: none;
    }

    a:nth-child(1)::before {
      top: 23%;
      left: 11%;
    }

    a:nth-child(2)::before {
      top: 23%;
      left: 45%;
    }

    a:nth-child(3)::before {
      top: 23%;
      left: 78%;
    }

    a:nth-child(4)::before {
      top: 72%;
      left: 11%;
    }

    a:nth-child(5)::before {
      top: 72%;
      left: 45%;
    }

    a:nth-child(6)::before {
      top: 72%;
      left: 78%;
    }

    a:hover::before {
      display: inline;
    }

    img:hover {
      opacity: 0.3;
      transition: ease-in-out 0.3s;
    }
  }

  p#product {
    font-family: $font-normal;
    font-size: 18px;
    letter-spacing: 1.1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .below-content {
    width: 60%;
    margin-bottom: 0;
    position: relative;

    img {
      width: 90%;
      object-fit: cover;
      margin: 10px;
      border-radius: 0.5%;
    }

    a::before {
      position: absolute;
      color: black;
      text-transform: uppercase;
      display: none;
    }

    a:nth-child(1)::before {
      content: 'ＤＳＳは医療機器をコンパクトに収納することで、1つの空間をある時は診療スペースとして、またある時はた医院長室、カウンセリングルームとして、多目的に使い分けることができる新システムです。空間の価値を2倍にも3倍にも広げます。';
      width: 44%;
      margin-inline-start: 15px;
      top: 20%;
    }

    a:nth-child(2)::before {
      content: 'ヨシダのユニット「エクシードＣｓ」「セリオ2」に合わせたデザインとカラーやオプション、様々な組み合わせから選ぶコンパクトな診療キャビネットです。ユニットに合わせた診療室のコーディネイトが可能です。';
      width: 44%;
      margin-inline-start: 15px;
      top: 20%;
    }

    a:hover::before {
      display: inline;
    }

    img:hover {
      opacity: 0.3;
      transition: ease-in-out 0.3s;
    }
  }

  .below-content-description {
    position: relative;
    width: 60%;
    height: 30px;

    p {
      margin-top: 5px;
      font-weight: normal !important;
      text-transform: uppercase;
    }

    p:nth-child(1) {
      position: absolute;
      left: 22.5%;
    }

    p:nth-child(2) {
      position: absolute;
      right: 22.5%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .content.work {
    .upper-content {
      width: 100%;

      img {
        width: 31%;
        margin: 0 0 12% 1%;
      }

      a::before {
        font-size: 14px;
        display: inline;
      }

      a:nth-child(1)::before {
        top: 37%;
        left: 6%;
      }
  
      a:nth-child(2)::before {
        top: 37%;
        left: 40%;
      }
  
      a:nth-child(3)::before {
        top: 37%;
        left: 72%;
      }
  
      a:nth-child(4)::before {
        top: 86%;
        left: 6%;
      }
  
      a:nth-child(5)::before {
        top: 86%;
        left: 40%;
      }
  
      a:nth-child(6)::before {
        top: 86%;
        left: 72%;
      }
    }
    .below-content {
      width: 90%;
      img {
        width: 98%;
      }
      a::before {
        font-size: 12px;
        display: inline;
      }

      a:nth-child(1)::before {
        top: 130%;
        margin-left: 2%;
      }
  
      a:nth-child(2)::before {
        top: 130%;
        margin-left: 2%;
      }

    }
    .below-content-description {
      width: 100%;
      height: 220px;
      p:nth-child(1) {
        left: 20%;
      }
      p:nth-child(2) {
        right: 20%;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .content.work {
    .upper-content {
      width: 100%;
      padding-left: 10%;

      img {
        width: 26%;
        margin: 0 1% 12% 1%;
      }

      a::before {
        font-size: 14px;
        display: inline;
      }

      a:nth-child(1)::before {
        top: 37%;
        left: 16%;
      }
  
      a:nth-child(2)::before {
        top: 37%;
        left: 43%;
      }
  
      a:nth-child(3)::before {
        top: 37%;
        left: 68%;
      }
  
      a:nth-child(4)::before {
        top: 86%;
        left: 16%;
      }
  
      a:nth-child(5)::before {
        top: 86%;
        left: 43%;
      }
  
      a:nth-child(6)::before {
        top: 86%;
        left: 68%;
      }
    }
    .below-content {
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
      a::before {
        font-size: 12px;
        display: inline;
      }

      a:nth-child(1)::before {
        top: 130%;
        margin-left: 2%;
        padding-right: 10%;
      }
  
      a:nth-child(2)::before {
        top: 130%;
        margin-left: 2%;
        padding-right: 10%;
      }

    }
    .below-content-description {
      width: 100%;
      height: 200px;
      p:nth-child(1) {
        left: 26%;
      }
      p:nth-child(2) {
        right: 26%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content.work {
    .upper-content {
      width: 100%;

      img {
        width: 30%;
        margin: 0 0 3% 2%;
      }

      a:nth-child(1)::before {
        top: 20%;
      }
  
      a:nth-child(2)::before {
        top: 20%;
        left: 43%;
      }
  
      a:nth-child(3)::before {
        top: 20%;
        left: 74%;
      }
  
      a:nth-child(4)::before {
        top: 70%;
      }
  
      a:nth-child(5)::before {
        top: 70%;
        left: 43%;
      }
  
      a:nth-child(6)::before {
        top: 70%;
        left: 74%;
      }
    }
    .below-content {
      width: 100%;
      a::before {
        top: 15% !important;
      }

     
    }
    .below-content-description {
      width: 100%;
      p:nth-child(1) {
        left: 20%;
      }
      p:nth-child(2) {
        right: 20%;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1265px) {
  .content.work {
    .upper-content {
      width: 80%;
      img {
        width: 29%;
        margin: 0 1% 3% 1%;
      }
    }
    .below-content {
      width: 80%;
    }
    .below-content-description {
      width: 100%;
      p:nth-child(1) {
        left: 27.5%;
      }
      p:nth-child(2) {
        right: 27.5%;
      }
    }
  }
}

@media only screen and (min-width: 1441px) {
  .content.work {
    .upper-content {
      img {
        width: 30%;
        margin: 0 1% 3% 1%;
      }
    }
  }
}